{% extends 'healthcare/base.html' %}
{% block title %}Login Page{% endblock %}
{% block content %}
{% load widget_tweaks %}

<!-- Login Form -->
<section class="section--form">
    <div class="form--container">
        <h2 class="page--header">Log In</h2>
        <form class="form--content" method='POST'>
            {% csrf_token %}
            <label>Username</label>
            {{ form.username|add_class:'input-field' }}
            <label>Password</label>
            {{ form.password|add_class:'input-field' }}
            <input value="Login" class='submit-btn' type='submit'>
            <p class='account--text'>Don't have an account? Create one <a class="account--link" href="/register">Here</a></p>
            <p class='account--text'>Forgot password? Click <a class="account--link" href="/reset_password">Here</a></p>
        </form>
    </div>
</section>

{% endblock %}
