{% extends 'healthcare/base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
{% load widget_tweaks %}

<!-- Send password reset to email -->
<section class="section--form">
    <div class="form--container">
        <h2 class="page--header">Reset Password</h2>
        <div class="text--padding">        
            <p class="page--text ">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        </div>
        <form class="form--content" method="post">
            {% csrf_token %}
            <label>Email:</label>
            {{ form.email|add_class:'input-field' }}
            <input type="submit" value="Reset my password" class="submit-btn" />
        </form>
    </div>    
</section>



<form method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Reset my password" />
</form>

{% endblock %}