{% extends 'healthcare/base.html' %}
{% block title %}Registration Page{% endblock %}
{% block content %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<section class="section--form">
    <div class="form--container">
        <h2 class="page--header">SIGN UP</h2>
        <form class="form--content" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Register" class="submit-btn">
            <p class="account--text">Have an account? Login <a class='account--link' href="/login">Here</a></p>
        </form>
    </div>
</section>

    <script>
        $( function() {
            minDate = new Date(1, 1, 1940)
            days = 365 * 18
            var maxDate = new Date()
            maxDate.setDate(maxDate.getDate() - days)
            $("#birth_date").datepicker({
                changeYear: true,
                changeMonth: true,
                dateFormat: 'yy-mm-dd',
                yearRange: `1920:`,
                // minDate: minDate,
                maxDate: maxDate,
            })
            $(".ui-datepicker").css("font-size","2em")
        })

        {% comment %} $(".ui-datepicker").css("font-size","150%") {% endcomment %}
    </script>
    
{% endblock %}