{% extends 'healthcare/base.html' %}
{% block title %}Registration Page{% endblock %}
{% block content %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register">
        <p>Have an account? Login <a href="/login">Here</a></p>
    </form>

    <script>
        $( function() {
            minDate = new Date(1, 1, 1940)
            days = 365 * 18
            var maxDate = new Date()
            maxDate.setDate(maxDate.getDate() - days)
            $("#id_birth_date").datepicker({
                changeYear: true,
                changeMonth: true,
                dateFormat: 'yy-mm-dd',
                yearRange: `1920:`,
                // minDate: minDate,
                maxDate: maxDate,
            })
        })
    </script>
    
{% endblock %}