{% extends 'healthcare/base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
{% load widget_tweaks %}

<!-- Send password reset to email -->
<section class="section--form">
    <div class="form--container">
        <h2 class="page--header">Reset Password</h2>
        <form class="form--content" method="post">
            {% csrf_token %}
            <label>New Password:</label>
            {{ form.new_password1|add_class:'input-field' }}
            <label>Confirm New Password:</label>
            {{ form.new_password2|add_class:'input-field' }}
            <input type="submit" value="Reset my password" class="submit-btn" />
        </form>
    </div>    
</section>

{% endblock %}