/* GENERAL CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
html {
/* Percentage of user's browser font size settings */
font-size: 62.5%;
overflow-x: hidden;

/* Does not work on Safari */
scroll-behavior: smooth;
}
  
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;

    /* overflow: hidden; */
}

.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}



/* STYLES */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.logo {
    height: 12.8rem;
}

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #228be6;
}

.section-main {
    height: 85vh;
    background-image:linear-gradient(0deg,rgba(24,100,171, 0.3), rgba(24,100,171, 0.3)), url("/static/healthcare/img/main.2ab4db57039c.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

.container-head {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.heading {
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.5px;
    font-size: 9.6rem;
    line-height: 1.05;
    margin-bottom: 1.2rem;
    padding-top: 12.8rem;
    text-align: center;
}

.subheading {
    display: block;
    font-size: 3.2rem;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
    letter-spacing: 0.75px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  color: #228be6;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  transition: all 0.3s;
}

.btn--landing,
.btn--landing:link,
.btn--landing:visited {
    background-color: #fff;
}

.btn--landing:hover,
.btn--landing:active {
    color: #fff;
    background-color: #228be6;
    box-shadow: 0 0 0 3px #fff
}

.footer {
    padding: 2.4rem;
    border-top: 1px solid #eee;
}

.copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;
}

.section--form {
    min-height: 85vh;
}

.form--container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.page--header {
    text-align: center;
    font-size: 3.6rem;
    color: #228be6;
    padding: 3.2rem 0;
}

.page--heading {
    padding-top: 4.8rem;
}

.service--padding {
    padding-top: 3.6rem;
}

.page--sub-header {
    text-align: center;
    font-size: 2.9rem;
    color: #228be6;
    padding-top: 4.8rem;
    padding-bottom: 1.2rem;
    padding-left: 0;
    padding-right: 0

}

.page--text {
    font-size: 1.8rem;
    text-align: center;
}   

.form--content {
    display: block;
	max-width: 60rem;
	margin: 0 auto;
	padding: 3.2rem;
	border-radius: 10px;
	background-color: #228be6;
	margin-bottom: 4.8rem;
}

.form--content label {
    display: block !important;
    font-size: 1.6rem !important;
    font-weight: 500 !important;
    margin-bottom: 1.2rem !important;
    color: #fff !important;
}

.form--label {
    display: block !important;
    font-size: 1.6rem !important;
    font-weight: 500 !important;
    margin-bottom: 1.2rem !important;
    color: #fff !important;
}

.input-field{
	width: 100%;
	padding: 0.8rem;
	background-color: #fff;
	border-radius: 5px;
	font-size: 1.6rem;
    border: 1px solid #e7f5ff;
    margin-bottom: 1.2rem;
    text-align: left;
}

.input-field:focus {
    outline-style: solid;
    outline-color: #1864ab;
}

.submit-btn,
.submit-btn:link,
.submit-btn:visited {
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	color: #228be6;
	background-color: #fff;
	border:none;
    font-size: 1.8rem;
    font-weight: 700;
    transition: all 0.3s;
}

.submit-btn:hover,
.submit-btn:active {
    background-color: #228be6;
    color: #fff;
    box-shadow: 0 0 0 3px #fff;
}

.page--section {
    min-height: 70vh;
    padding-bottom: 6.4rem;
}

.dashboard--grid {
    padding-top: 4.8rem;
    display: grid;
    row-gap: 6.4rem;
    column-gap: 6.4rem;
    grid-template-columns: repeat(3, 1fr);
}

.dash {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.4s;
}

.dash:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}

.dashboard--img {
    display: block;
    width: 100%;
}

.dash-btn {
    text-align: center;
}

.dash-btn:hover {
    cursor: pointer;
    color: #fff;
}

.btn--dash,
.btn--dash:link,
.btn--dash:visited {
    display: flex;
    text-decoration: none;
    justify-content: center;
    background-color: #fff;
    font-size: 2rem;
    color: #228be6;
    font-weight: 600;
    padding: 1.6rem 3.2rem;

    border: none;
    font-family: inherit;
    transition: all 0.3s;
}

.btn--dash:hover,
.btn--dash:active {
    background-color: #228be6;
    color: #fff;
}

/* Table  */
.table {
    padding: 4.8rem 9.6rem;
}

.t--style {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
}

.t--style-r {
    width: 60%;
    border-collapse: collapse;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.t--style-r th{
    padding: 1.8rem;
}

.t--style td {
    padding: 1.8rem;
}

.t--style-r td {
    padding: 1.8rem;
}

.t--style th {
    text-align: left;
    font-size: 1.8rem;
    background-color: #339af0;
    color: #fff;
    padding: 1.8rem;
}

.t--style-r th {
    text-align: left;
    font-size: 1.8rem;
    background-color: #339af0;
    color: #fff;
}

.t--style--approved {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
}

.t--style--approved th {
    text-align: left;
    font-size: 1.8rem;
    background-color: #37b24d;
    color: #fff;
    padding: 1.8rem;
}

.t--style--approved td {
    padding: 1.8rem;
}

.t--style--rejected {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
}

.t--style--rejected th {
    text-align: left;
    font-size: 1.8rem;
    background-color: #f03e3e;
    color: #fff;
    padding: 1.8rem;
}

.t--style--rejected td {
    padding: 1.8rem;
}

.table--titles {
    font-size: 2.4rem;
    padding: 2.4rem 0;
    color: #4dabf7;
}

.table--approved {
    font-size: 2.4rem;
    padding: 2.4rem 0;
    color: #37b24d;
}

.table--rejected {
    font-size: 2.4rem;
    padding: 2.4rem 0;
    color: #f03e3e;
}

.td-normal {
    text-align: left;
    font-size: 1.2rem;
}


.link-align {
    text-align: center;
}

.link-align-r {
    text-align: right;
}

.btn--full,
.btn--full:link,
.btn--full:visited {
    display: inline-block;

    text-decoration: none;
    font-size: 1.2rem;
    background-color: #228be6;
    color: #fff;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;

    /* Only necessary for .btn */
    border: none;
    cursor: pointer;
    font-family: inherit;

    /* Put transition on original "state" */
    transition: all 0.3s;
}

.btn--full:hover,
.btn--full:active {
    background-color: #1971c2;
}

.btn--cancel,
.btn--cancel:link,
.btn--cancel:visited {
    display: inline-block;

    text-decoration: none;
    font-size: 1.2rem;
    background-color: #f03e3e;
    color: #fff;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;

    /* Only necessary for .btn */
    border: none;
    cursor: pointer;
    font-family: inherit;

    /* Put transition on original "state" */
    transition: all 0.3s;
}

.btn--cancel:hover,
.btn--cancel:active {
    background-color: #c92a2a;
}

.btn--confirm,
.btn--confirm:link,
.btn--confirm:visited {
    display: inline-block;

    text-decoration: none;
    font-size: 1.2rem;
    background-color: #37b24d;
    color: #fff;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;

    /* Only necessary for .btn */
    border: none;
    cursor: pointer;
    font-family: inherit;

    /* Put transition on original "state" */
    transition: all 0.3s;
}

.btn--confirm:hover,
.btn--confirm:active {
    background-color: #2b8a3e;
}

.btn--update,
.btn--update:link,
.btn--update:visited {
    display: inline-block;

    text-decoration: none;
    font-size: 1.2rem;
    background-color: #495057;
    color: #fff;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;

    /* Only necessary for .btn */
    border: none;
    cursor: pointer;
    font-family: inherit;

    /* Put transition on original "state" */
    transition: all 0.3s;
}

.btn--update:hover,
.btn--update:active {
    background-color: #212529;
}


.profile--container {
    max-width: 60rem;
    padding: 2.4rem 3.2rem;
    margin: 0 auto;
    box-shadow: 0 0 4.8rem rgba(0, 0, 0, 0.1);
}

.item--row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: left;
    padding: 1.8rem 0;
    font-size: 1.8rem;
}


.item--head, .item--bio {
    display: grid;
    grid-template-columns: 1fr;
    align-items: left;
    font-size: 1.8rem;
}

.item--head {
    padding-top: 1.8rem;
    /* padding-bottom: 0.2rem; */
}

.item--bio {
    padding: 1.8rem 0 2.4rem 0;
}

.font--bold {
    font-weight: 700;
}

.button--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.8rem 0;
}

.button--grid--3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.8rem 0;
}

.item--button {
    text-align: center;
}

.hr--styles {
    border: 1px solid #adb5bd;
    margin: auto 32rem;
}

.account--text {
    color: #fff;
    padding-top: 1.8rem;
    font-size: 1.8rem;
}

.account--link {
    color: #fff;
    font-weight: bold;
}

.spec--grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 2rem;
    padding: 4.8rem;
}

.spec--items {
    background-color: #fff;
    padding: 2.4rem 3.2rem;
    box-shadow: 0 0 4.8rem rgba(0, 0, 0, 0.1);
}

.spec--heading {
    color: #4dabf7;
    font-size: 2.4rem;
    padding-bottom: 2.4rem;
}

.spec--text {
    font-size: 1.4rem;
    line-height: 1.4;
}

/* Mission section */
.section-mission {
    padding: 1.8rem 0 4.8rem 0;
}

.mission--heading {
    padding-top: 4.8rem 0 2.4rem 0;
}

.mission--text {
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.4;
}   

/* Features section */
.section-mission {
    padding: 1.8rem 0 4.8rem 0;
}

.grid {
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
  
    /* margin-bottom: 9.6rem; */
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}


.feature-icon {
    color: #1864ab;
    height: 3.2rem;
    width: 3.2rem;
    background-color: #a5d8ff;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
    border-radius: 50%;
}


.feature-title {
    font-size: 2.4rem;
    columns: #333;
    font-weight: bold;
    margin-bottom: 1.6rem;
}

.feature-text {
    font-size: 1.8rem;
    line-height: 1.8;
}

.mission--padding {
    padding-top: 4.8rem;
}

/* Testimonials Section */

.section-testimonials {
    padding: 1.8rem 0 4.8rem 0;
}

.testimonials--grid {
    padding-top: 2.4rem;
    display: grid;
    column-gap: 6.4rem;
    row-gap: 6.4rem;
    grid-template-columns: repeat(3, 1fr);
}

.testimonials {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.4s;
}

.testimonials:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}

.testimonials--img {
    display: block;
    width: 100%;
    padding: 3.6rem;
    border-radius: 50%;
}

.testimonials--text {
    font-size: 1.8rem;
    line-height: 1.8;
    padding: 0 3.6rem 1.8rem 3.6rem;
}

.testimonials--name {
    font-size: 1.4rem;
    padding: 0 3.6rem 3.6rem 3.6rem;
    color: #adb5bd;
}

/* Doctor's Section */
.section-doctors {
    padding: 6.4rem 0 4.8rem 0;
}

.doc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: #e67e22; */
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    column-gap: 4.8rem;
    row-gap: 4.8rem;
    background-image: linear-gradient(to right bottom, #1e67ac, #1864ab);
    overflow: hidden;  
}

.doc--text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #fff;
}

.doc--title {
    /* text-align: center; */
    font-size: 3.6rem;
    color: #fff;
    padding: 3.2rem 0 1.8rem 0;
}

.doc--text {
    font-size: 1.8rem;
    line-height: 1.8;
    padding-bottom: 1.8rem;
}

.doc--img-box {
    background-image: linear-gradient(
        to right bottom,
        rgba(78, 204, 235, 0.35),
        rgba(34, 125, 230, 0.35)
      ),
      url("/static/healthcare/img/view-doctor.9764ddc0b408.jpg");
    background-size: cover;
    background-position: center;
  }

.container--head {
    padding: 0 3.2rem;
    margin: 0 auto;
    background-color: #1c7ed6;
}

.page--heading {
    text-align: center;
    font-size: 3.6rem;
    color: #fff;
    padding: 3.2rem 0;
}

.head--width {
    max-width: 60rem;
}