<!-- Base template that includes head and footer -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'healthcare/css/style.css' %}">
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    <header class="header">
        {% if user.is_authenticated %}
        <a href="{% url 'healthcare:dashboard' %}">
            <img src="{% static 'healthcare/img/afya-r.png' %}" alt="Afya logo" class="logo" />
        </a>
        {% else %}
        <a href="{% url 'healthcare:index' %}">
            <img src="{% static 'healthcare/img/afya-r.png' %}" alt="Afya logo" class="logo" />
        </a>
        {% endif %}
        <nav>
            <ul class="main-nav-list">
                {% if user.is_authenticated %}
                <li><a class="main-nav-link" href="{% url 'healthcare:dashboard' %}">Dashboard</a></li>
                <li><a class="main-nav-link" href="{% url 'healthcare:our_services' %}">Our Services</a></li>
                <li><a class="main-nav-link" href="#">Logged in as {{user.username}}</a></li>
                <li><a class="main-nav-link" href="/logout">Logout</a></li>
                {% else %}
                <li><a class="main-nav-link" href="{% url 'healthcare:our_services' %}">Our Services</a></li>
                <li><a class="main-nav-link" href="/login">Login</a></li>
                <li><a class="main-nav-link" href="/register">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer class="footer">
        <p class="copyright">
            Copyright &copy; <span class="year">2027</span> by Afya Healthcare.
            All rights reserved.
        </p>
    </footer>
</body>
</html>