{% extends 'healthcare/base.html' %}
{% block title %}View Doctors{% endblock %}
{% block content %}


<section class="page--section">
    <div class="container--head">
        <h2 class="page--heading">Select Doctor</h2>
    </div>

    <div class="container table">
        <table class="t--style">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Specialization</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for doctor in doctor_list.all %}
                {% if doctor.has_schedule %}
                <tr>
                    <td class="td-normal">Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</td>
                    <td class="td-normal">{{doctor.specialization}}</td>
                    <td class="link-align"><a href="{% url 'healthcare:doctor' doctor.id %}" class="btn--full">View</a></td>
                    <td class="link-align"><a href="/login" class="btn--confirm">Book Appointment</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}