{% extends 'healthcare/base.html' %}
{% block title %}Our Services{% endblock %}
{% block content %}

<!-- Our services page -->
<section class="page--section">
    <div class="container--head">
        <h2 class="page--heading">Our Services</h2>
    </div>
    <div class="container service--padding">
        <p class="page--text">Afya healthcare offers services with professional doctors that have specialized in different fields of medicine. Our Services include:</p>
        <div class="spec--grid">
            <div class="spec--items">
                <h3 class="spec--heading">Dermatology</h3>
                <p class="spec--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie tempus risus. Phasellus eget congue mi. Pellentesque id ipsum aliquam risus porttitor efficitur nec vel purus. Quisque vitae magna quam. Aliquam leo mi, blandit at accumsan in, consequat a leo. Vivamus lacinia pulvinar mi, eget dapibus purus scelerisque maximus. Nunc venenatis nisl ut neque bibendum, ac rutrum nisi semper. Fusce augue risus, venenatis in sem eget, blandit vehicula elit.</p>
            </div>
            <div class="spec--items">
                <h3 class="spec--heading">Family Medicine</h3>
                <p class="spec--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie tempus risus. Phasellus eget congue mi. Pellentesque id ipsum aliquam risus porttitor efficitur nec vel purus. Quisque vitae magna quam. Aliquam leo mi, blandit at accumsan in, consequat a leo. Vivamus lacinia pulvinar mi, eget dapibus purus scelerisque maximus. Nunc venenatis nisl ut neque bibendum, ac rutrum nisi semper. Fusce augue risus, venenatis in sem eget, blandit vehicula elit.</p>
            </div>
            <div class="spec--items">
                <h3 class="spec--heading">Internal Medicine</h3>
                <p class="spec--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie tempus risus. Phasellus eget congue mi. Pellentesque id ipsum aliquam risus porttitor efficitur nec vel purus. Quisque vitae magna quam. Aliquam leo mi, blandit at accumsan in, consequat a leo. Vivamus lacinia pulvinar mi, eget dapibus purus scelerisque maximus. Nunc venenatis nisl ut neque bibendum, ac rutrum nisi semper. Fusce augue risus, venenatis in sem eget, blandit vehicula elit.</p>
            </div>
            <div class="spec--items">
                <h3 class="spec--heading">Neurosurgery</h3>
                <p class="spec--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie tempus risus. Phasellus eget congue mi. Pellentesque id ipsum aliquam risus porttitor efficitur nec vel purus. Quisque vitae magna quam. Aliquam leo mi, blandit at accumsan in, consequat a leo. Vivamus lacinia pulvinar mi, eget dapibus purus scelerisque maximus. Nunc venenatis nisl ut neque bibendum, ac rutrum nisi semper. Fusce augue risus, venenatis in sem eget, blandit vehicula elit.</p>
            </div>
            <div class="spec--items">
                <h3 class="spec--heading">Gynaecology</h3>
                <p class="spec--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie tempus risus. Phasellus eget congue mi. Pellentesque id ipsum aliquam risus porttitor efficitur nec vel purus. Quisque vitae magna quam. Aliquam leo mi, blandit at accumsan in, consequat a leo. Vivamus lacinia pulvinar mi, eget dapibus purus scelerisque maximus. Nunc venenatis nisl ut neque bibendum, ac rutrum nisi semper. Fusce augue risus, venenatis in sem eget, blandit vehicula elit.</p>
            </div>
            <div class="spec--items">
                <h3 class="spec--heading">Oncology</h3>
                <p class="spec--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie tempus risus. Phasellus eget congue mi. Pellentesque id ipsum aliquam risus porttitor efficitur nec vel purus. Quisque vitae magna quam. Aliquam leo mi, blandit at accumsan in, consequat a leo. Vivamus lacinia pulvinar mi, eget dapibus purus scelerisque maximus. Nunc venenatis nisl ut neque bibendum, ac rutrum nisi semper. Fusce augue risus, venenatis in sem eget, blandit vehicula elit.</p>
            </div>
            <div class="spec--items">
                <h3 class="spec--heading">Paediatrics</h3>
                <p class="spec--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie tempus risus. Phasellus eget congue mi. Pellentesque id ipsum aliquam risus porttitor efficitur nec vel purus. Quisque vitae magna quam. Aliquam leo mi, blandit at accumsan in, consequat a leo. Vivamus lacinia pulvinar mi, eget dapibus purus scelerisque maximus. Nunc venenatis nisl ut neque bibendum, ac rutrum nisi semper. Fusce augue risus, venenatis in sem eget, blandit vehicula elit.</p>
            </div>
            <div class="spec--items">
                <h3 class="spec--heading">Psychiatry</h3>
                <p class="spec--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie tempus risus. Phasellus eget congue mi. Pellentesque id ipsum aliquam risus porttitor efficitur nec vel purus. Quisque vitae magna quam. Aliquam leo mi, blandit at accumsan in, consequat a leo. Vivamus lacinia pulvinar mi, eget dapibus purus scelerisque maximus. Nunc venenatis nisl ut neque bibendum, ac rutrum nisi semper. Fusce augue risus, venenatis in sem eget, blandit vehicula elit.</p>
            </div>
            <div class="spec--items">
                <h3 class="spec--heading">Urology</h3>
                <p class="spec--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie tempus risus. Phasellus eget congue mi. Pellentesque id ipsum aliquam risus porttitor efficitur nec vel purus. Quisque vitae magna quam. Aliquam leo mi, blandit at accumsan in, consequat a leo. Vivamus lacinia pulvinar mi, eget dapibus purus scelerisque maximus. Nunc venenatis nisl ut neque bibendum, ac rutrum nisi semper. Fusce augue risus, venenatis in sem eget, blandit vehicula elit.</p>
            </div>
            <div class="spec--items">
                <h3 class="spec--heading">Public Health</h3>
                <p class="spec--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse molestie tempus risus. Phasellus eget congue mi. Pellentesque id ipsum aliquam risus porttitor efficitur nec vel purus. Quisque vitae magna quam. Aliquam leo mi, blandit at accumsan in, consequat a leo. Vivamus lacinia pulvinar mi, eget dapibus purus scelerisque maximus. Nunc venenatis nisl ut neque bibendum, ac rutrum nisi semper. Fusce augue risus, venenatis in sem eget, blandit vehicula elit.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}