{% extends 'healthcare/base.html' %}
{% block title %}View Appointments{% endblock %}
{% block content %}

<section class="page--section">
    <div class="container">
        <h2 class="page--header">View Appointments</h2>
    </div>

    <div class="container table">
        <h3 class="table--titles">Approved Appointments</h3>
        <table class="t--style">
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Created At</th>
                    <th>Appointment Status</th>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>

            <tbody>
                {% for appointment in approved_appointments %}
                <tr>
                    <td class="td-normal">{{appointment.user.user.first_name}} {{appointment.user.user.last_name}}</td>
                    <td class="td-normal">{{appointment.created_at}}</td>
                    <td class="td-normal">{{appointment.status}}</td>
                    <td class="link-align"><a href="{% url 'healthcare:patient_appointment' appointment.id %}" class="btn--full">View</a></td>
                    <td class="link-align"><a href="{% url 'healthcare:complete' appointment.id %}" class="btn--confirm">Complete</a></td>
                    <td class="link-align"><a href="{% url 'healthcare:update_patient_appointment' appointment.id %}" class="btn--update">Update</a></td>
                    <td class="link-align"><a href="{% url 'healthcare:cancel' appointment.id %}" class="btn--cancel">Cancel</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container table">
        <h3 class="table--titles">Approved Appointments</h3>
        <table class="t--style">
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Created At</th>
                    <th>Appointment Status</th>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>

            <tbody>
                {% for appointment in pending_appointments %}
                <tr>
                    <td class="td-normal">{{appointment.user.user.first_name}} {{appointment.user.user.last_name}}</td>
                    <td class="td-normal">{{appointment.created_at}}</td>
                    <td class="td-normal">{{appointment.status}}</td>
                    <td class="link-align"><a href="{% url 'healthcare:patient_appointment' appointment.id %}" class="btn--full">View</a></td>
                    <td class="link-align"><a href="{% url 'healthcare:approve' appointment.id %}" class="btn--confirm">Complete</a></td>
                    <td class="link-align"><a href="{% url 'healthcare:reject' appointment.id %}" class="btn--cancel">Reject</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}