{% extends 'healthcare/base.html' %}
{% block title %}Region{% endblock %}
{% block content %}

<h1>Region</h1>

<ul>
    <table style="border: 1px solid">
        <tr style="border: 1px solid">
            <th style="border: 1px solid">County</th>
            <th style="border: 1px solid"> </th>
        </tr>
        {% for region in all_regions %}
        <tr>
            <td style="border: 1px solid">{{region.county}}</td>
            <td style="border: 1px solid"><a href="{% url 'healthcare:all_doctors_view' region.id %}">View</a></td>
        </tr>
        {% endfor %}
    </table>
</ul>

{{ my_data|json_script:"my_data" }}
<script>
    const mydata = JSON.parse(document.getElementById('my_data').textContent);
    console.log(mydata)
    for (data in mydata) {
        console.log(data)
    }
</script>
{% endblock %}
