{% extends 'healthcare/base.html' %}
{% block title %}View Appointments{% endblock %}
{% block content %}
<h1>Appointment</h1>
<p>Doctor: {{appointment_data.doctor.user.first_name}} {{appointment_data.doctor.user.last_name}}</p>
<p>Specialization: {{appointment_data.doctor.specialization}}</p>
<p>County: {{appointment_data.doctor.county.county}}</p>
<p>Appointment Status: {{appointment_data.status}}</p>
{% if appointment_data.status == 'Approved' %}
<p>Date: {{appointment_data.appointment_date}}</p>
{% endif %}
<p>Symptoms:</p>
<p>{{appointment_data.symptoms}}</p>
<a href="{{request.META.HTTP_REFERER}}">Go back</a>
{% endblock %}