{% extends 'healthcare/base.html' %}
{% block title %}Doctor{% endblock %}
{% block content %}

<!-- View Doctor details page -->
<section class="page--section">
    <div class="container--head head--width">
        <h2 class="page--heading">Doctor Profile</h2>
    </div>

    <div class="profile--container">
        <div class="item--row">
            <p class="font--bold">Name:</p>
            <p>Dr. {{doctor_data.user.first_name}} {{doctor_data.user.last_name}}</p>
        </div>
        <div class="item--row">
            <p class="font--bold">Specialization:</p>
            <p>{{doctor_data.specialization}}</p>
        </div>
        <div class="item--row">
            <p class="font--bold">County:</p>
            <p>{{doctor_data.county.county}}</p>
        </div>
        <div class="item--head">
            <p class="font--bold">Biography:</p>
        </div>
        <div class="item--bio">
            <p>{{doctor_data.biography}}</p>
        </div>
        <div class="item--button">
            <a href="{{request.META.HTTP_REFERER}}" class="btn--full">Go back</a>
        </div>
    </div>
</section>

{% endblock  %}